In [1]:
import pandas as pd

In [8]:
#class work
#accessing a series object
S1 = [15, 14, 13, 12]
S1[1]

14

In [9]:
S1[1:3]

[14, 13]

In [10]:
S1[2:]

[13, 12]

In [11]:
# question indexes are from 0 to 20 and values are 1 to 20 
import pandas as pd
indexes = range(21)
value = range(1,22)
a = pd.Series(value,index=indexes)
print(a)

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
20    21
dtype: int64

In [12]:
a[2:8]

2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64

In [13]:
a[2::2]

2      3
4      5
6      7
8      9
10    11
12    13
14    15
16    17
18    19
20    21
dtype: int64

In [14]:
a[17:]

17    18
18    19
19    20
20    21
dtype: int64

In [15]:
a[14]=400
print(a)

0       1
1       2
2       3
3       4
4       5
5       6
6       7
7       8
8       9
9      10
10     11
11     12
12     13
13     14
14    400
15     16
16     17
17     18
18     19
19     20
20     21
dtype: int64

In [16]:
#addition in series
ss =pd.Series([14,15,16,17,18])
sss=pd.Series([1,2,3,4,5])
#r=ss+sss
r=ss.add(sss)
r1= ss-sss
r2=ss*sss
r3=ss/sss
print(r)
print(r1)
print(r2)
print(r3)

0    15
1    17
2    19
3    21
4    23
dtype: int64
0    13
1    13
2    13
3    13
4    13
dtype: int64
0    14
1    30
2    48
3    68
4    90
dtype: int64
0    14.000000
1     7.500000
2     5.333333
3     4.250000
4     3.600000
dtype: float64

In [18]:
ss =pd.Series([14,16,13,10])
print(ss<15)
print(ss[ss<15])

0     True
1    False
2     True
3     True
dtype: bool
0    14
2    13
3    10
dtype: int64

In [19]:
s3 =pd.Series([16,71,80])
print(s3>50)

0    False
1     True
2     True
dtype: bool

In [23]:
#sorting
#sort_values()
s3.sort_values()

0    16
1    71
2    80
dtype: int64

In [22]:
s3.sort_values(ascending=False)

2    80
1    71
0    16
dtype: int64

In [3]:
#Shrija Devanpalli 8-2-24
#question 1
#Create a series object which stores the total number of candidates in the 5 sections of an MNC company also gives the name of section. Write a code to modify the value of 2nd section to any value of your choice and the section number 4th & 5th needs to be modified.
d={'section':['HR','IT','Training','Consulting','Administration'],
  'candidates':[12,156,15,65,6]}
can=pd.Series(d['candidates'], index=d['section'])
print(can)

HR                 12
IT                156
Training           15
Consulting         65
Administration      6
dtype: int64

In [6]:
#question 2
can[1]= 267
can[3]=40
can[4]=89
print(can)

HR                 12
IT                267
Training           15
Consulting         40
Administration     89
dtype: int64

In [3]:
#question 3
#Consider the two series objects as A1(class 11) & A2(12) which storing the total number of students in 3 streams Science, commerce and humanities. Write a code to find the total number of students of both the series objects stream vise.
import pandas as pd
a1=pd.Series({'sci':40,'comm':50,'hum':60})
a2=pd.Series({'sci':30,'comm':70,'hum':80})
total=a1+a2
print(total)

sci      70
comm    120
hum     140
dtype: int64

In [5]:
#quetion 4
#Create the object 1 as population storing the details of populations in 4 different metro cities of India and object 2 is average income stores the total average income of the population in the 4 metro cities. Calcualte income per capita for each of these metro cities
obj1= pd.Series({'Pune':500000,'Mumbai':700000,'Nagpur':400000,'Hyderabad':800000})
obj2= pd.Series({'Pune':20000,'Mumbai':30000,'Nagpur':25000,'Hyderabad':40000})
print(obj1)
print(obj2)

Pune         500000
Mumbai       700000
Nagpur       400000
Hyderabad    800000
dtype: int64
Pune         20000
Mumbai       30000
Nagpur       25000
Hyderabad    40000
dtype: int64

In [6]:
#question 5 based on question 4 
i_p_c = obj1/obj2
print(i_p_c)

Pune         25.000000
Mumbai       23.333333
Nagpur       16.000000
Hyderabad    20.000000
dtype: float64