In [1]:
#class work
import pandas as pd
import numpy as np

In [3]:
df= pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [4]:
d=[['a',1],['d']]
df=pd.DataFrame(d)
print(df)

   0    1
0  a  1.0
1  d  NaN

In [ ]:
a=[{'a':1,'d':2},{'a':1,'c':2}]

In [10]:
D= {'section':[10,20,30,40],
   'contries':[100,200,333,444]}
print(pd.DataFrame(D))
pd.DataFrame(D,index=[12,13,14,15])

   section  contries
0       10       100
1       20       200
2       30       333
3       40       444

    section  contries
12       10       100
13       20       200
14       30       333
15       40       444

In [11]:
pep={'sal':{'n':'ram','a':24,'dep':'IT'},
    'mak':{'n':'raman','a': 24,'dep':'AD'}}
print(pd.DataFrame(pep))

     sal    mak
n    ram  raman
a     24     24
dep   IT     AD

In [13]:
# List1
Name = ['tom', 'krish', 'nick', 'juli']

# List2
Age = [25, 30, 26, 22]
l = list(zip(Name, Age))
l

df = pd.DataFrame(l, columns = ['Name', 'Age'])

df

    Name  Age
0    tom   25
1  krish   30
2   nick   26
3   juli   22

In [25]:
#q1
import csv
import pandas as pd
a=pd.read_csv('dataset.csv')
print(a)
b = {'Name': ['a', 'b', 'c', 'd'],
        'Age': [4, 3, 2, 1]}
df= pd.DataFrame(b)
df.to_csv('ndataset.csv', index=False)

   Country  Age
0   France   44
1    Spain   27
2  Germany   30
3    Spain   38

In [2]:
#q4 Create a dataframe to store weight, age and name of 3 people by dictionary of list
# List1
import pandas as pd
Name = ['tanishk', 'anish', 'nisha']

# List2
Age = [25, 30, 26]
weight =[60,40,45]
l = list(zip(Name, Age,weight))
l

df = pd.DataFrame(l, columns = ['Name', 'Age','weight'])

df

      Name  Age  weight
0  tanishk   25      60
1    anish   30      40
2    nisha   26      45

In [27]:
#q2 Create and display a dataframe from a dictionary holding 2D or nd list values sales is name which stores values quarter wise sales.
sales = {
    'p1': [10, 15, 20, 25],  # Quarter 1, Quarter 2, Quarter 3, Quarter 4
    'p2': [80, 70, 90, 100],
}
print(" ")
print(" ")
for p, quarter in sales.items():
    print(f"{p}\t{quarter[0]}\t\t{quarter[1]}\t\t{quarter[2]}\t\t{quarter[3]}")

p1	10		15		20		25
p2	80		70		90		100

In [28]:
#q3 Create a dataframe which displays the sales performance of 4 zonal offices your zone name should be the row labels, you can use seperate dictionary for each zone
import pandas as pd

s = [
    {'Zone': ' A', 'Sale': 10000},
    {'Zone': ' B', 'Sale': 15000},
    {'Zone': ' C', 'Sale': 12000},
    {'Zone': ' D', 'Sale': 18000}
]

# Creating a DataFrame
sdf = pd.DataFrame(s)

# Displaying the DataFrame
print(sdf)

  Zone   Sale
0    A  10000
1    B  15000
2    C  12000
3    D  18000