In [1]:
#shrija devanpalli
#Question 9
#creating series from scalar value
import pandas as pd
import numpy as np

s= pd.Series(77,index=[0,1,2,3,4,5,6,7])
print(s)

0    77
1    77
2    77
3    77
4    77
5    77
6    77
7    77
dtype: int64

In [2]:
#Question 13
wd = {
    1: "W1",
    2: "W2",
    3: "W3",
    4: "W4",
    5: "W5",
    6: "W6",
}
print(wd)

{1: 'W1', 2: 'W2', 3: 'W3', 4: 'W4', 5: 'W5', 6: 'W6'}

In [4]:
#question 17
import pandas as pd

def get_p():
    return {
        'PID': input("pID: "),
        'PName': input("p name: "),
        'Price': float(input("p price: ")),
        'Quant': int(input("p quantity: "))
    }

num = int(input(" number of p"))
df = pd.DataFrame([get_p() for _ in range(num)])
df.to_csv(input("CSV filename "), index=False)

print("P info saved to CSV.")

 number of p1
pID: 1
p name: s
p price: 20
p quantity: 10
CSV filename s.csv
P info saved to CSV.

In [6]:
#question 15
sm = {
    'Name': ['Sarita', 'Aditi', 'Bhavik', 'Atharva', 'Shrija'],
    'Zone': ['North', 'South', 'East', 'West', 'Central'],
    'Sale': [250, 300, 400,500, 600]
}
df = pd.DataFrame(sm)
print(df)

      Name     Zone  Sale
0   Sarita    North   250
1    Aditi    South   300
2   Bhavik     East   400
3  Atharva     West   500
4   Shrija  Central   600

In [5]:
#question 16
t5 = pd.Series([5*i for i in range(1, 11)])
print(t5)

0     5
1    10
2    15
3    20
4    25
5    30
6    35
7    40
8    45
9    50
dtype: int64

In [8]:
#question 14
temparature = {
    'temp1': [25, 22, 26, 24, 23],  # week 1
    'temp2': [28, 33, 29, 27, 26],  # week 2
    'temp3': [26, 22, 27, 28, 29],  # week 3
    'temp4': [30, 21, 32, 29, 28]   # week 4
}
df = pd.DataFrame(temparature)
print("Avg temperature /week:")
print(df.mean())
print("\nAvg temperature of month:", df.values.mean())

Avg temperature /week:
temp1    24.0
temp2    28.6
temp3    26.4
temp4    28.0
dtype: float64

Avg temperature of month: 26.75

In [12]:
#question 12
# l1
l1 = [int(a) for a in input("ele separated by spaces: ").split()]

# l2
l2 = [int(a) for a in input("ele separated by spaces: ").split()]
sum_of_lists = sum(l1) + sum(l2)
print("Sum of the two lists:", sum_of_lists)

ele separated by spaces: 1 2
ele separated by spaces: 1 2
Sum of the two lists: 6